{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 offset-1">
                <div class="row mt-3">
                    <div class="col text-center">
                        <h2 class="logo-font">Items</h2>
                        <hr class="w-50 mb-1">
                    </div>
                </div>
                <div class="row mt-1 mb-2"></div>
                <div class="row">
      <!-- Cards with Modals -->
{% for item in items %}
<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
    <div class="card h-100 border-0">
        {% if item.image %}
            <a href="#" data-toggle="modal" data-target="#itemModal{{ item.id }}" onclick="updateModalContent('{{ item.image.url }}', '{{ item.name }}')">
                <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
            </a>
        {% else %}
            <a href="#" data-toggle="modal" data-target="#itemModal{{ item.id }}" onclick="updateModalContent('{{ MEDIA_URL }}noimage.png', '{{ item.name }}')">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
            </a>
        {% endif %}
        <div class="card-body pb-0">
            <p class="mb-0">{{ item.name }}</p>
        </div>
        <div class="card-footer bg-white pt-0 border-0 text-left">
            <div class="row">
                <div class="col">
                    <p class="lead mb-0 text-left font-weight-bold">${{ item.base_price }}</p>
                    <small class="text-muted">Available: {{ item.quantity_available }}</small>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="itemModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel{{ item.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel{{ item.id }}">{{ item.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="modalImage" class="img-fluid" alt="{{ item.name }}">
                    <p>Item details, description, etc.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
function updateModalContent(imageUrl, itemName) {
    document.getElementById('modalImage').src = imageUrl;
    document.getElementById('itemModalLabel').innerText = itemName;
}
</script>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
