html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body {
    background: url('/media/bg_image.png') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    height: calc(100vh - 164px);
}

.container {
    max-width: 100%;
}

/* Header Styles */
header {
    
    padding: 5px;
    
}

.navbar-brand {
    text-transform: uppercase;
}

/* Sidebar Styles */
.sidebar {
    background: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: fixed;
    padding-top: 20px;
}

.sidebar-sticky {
    position: relative;
    top: 20px;
}

/* Main Content Styles */
main {
    margin-top: 20px;
}

.toolbar {
    display: none;
}

/* Media Queries */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }
}

       
@media (max-width: 768px) {
    .sidebar {
        display: none;
     }

    .toolbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
        padding: 8px;
        display: flex;
        justify-content: space-around;
        }
    }

   